.app {
    text-align: center;
    text-emphasis: bold;
    background-color: antiquewhite;
    
  }

.body {
  text-align: center;
  background-color: rgba(239, 249, 255);
  margin: 50px;
  max-width: 200%;
}

.content {
  display: inline;
  margin: 100px;
}

a {
  text-decoration: none;
}
a:link, a:visited {
  color: blue;
}
a:hover {
  color: red;
}